.main-header {
  align-items: center;
  background-color: azure;
  border: 1px solid black;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
}

.main-header div {
  display: flex;
  justify-content: space-around;
  width: 180px;
}
